<html>
  <head>
    <%= javascript_include_tag "prototype" %>
    <%= formtastic_stylesheet_link_tag %>
    <%= stylesheet_link_tag "merlin" %>
  </head>
  <body>
    <p>Here, you can run new instances on any cloud Merlin controls.
    </p>
    <% semantic_form_for @instance do |form| %>
      <% form.inputs "Instance Configuration" do %>
        <%= form.input :cloud, :as => :select, :collection => Cloud.all, :include_blank => true, :hint => "The cloud that will contain the instance." %>
        <%= form.input :availability_zone, :as => :select, :hint => "The zone the instance will run in. Leave it blank for default placement (cloud decides).", :include_blank => false %>
        <%= form.input :instance_type, :hint => "The type of instance that will be started.", :include_blank => false %>
        <%= form.input :hostname, :hint => "The hostname that will be assigned to the instance.", :input_html => { :class => 'large' } %>
        <%= form.input :userdata, :hint => "The user data that will be provided to the new instance.", :label => "User Data", :required => false %>
        <%= form.input :key_pair, :hint => "The keypair that will be used for the instance.", :label => "Keypair", :required => true %>
        <%= form.input :security_groups, :collection => [], :hint => "The initial security group for the instance. Please note, for clouds that only support one group per VM, only the first selected one will be used!", :label => "Security Group", :required => true %> 
      <% end %>
      <% form.inputs "Volume Configuration" do %>
        <%= form.input :volumes, :label => "Attach Existing Volume", :hint => "Volumes that will be attached to this instance." %>
        Or, create a new volume:
        <% form.semantic_fields_for :volumes do |volume| %>
          <%= volume.input :size, :hint => "Size of the new volume, in gigabytes", :label => "Size (in GB)", :input_html => { :class => 'sm' } %>
          <%= volume.input :mount_point, :hint => "Where the volume will be mounted within the new instance", :input_html => { :class => 'med' } %>
          <%= volume.input :attachment_device, :hint => "The device used to attach the volume to the instance (e.g. /dev/sdb)", :input_html => { :class => 'med' } %>
          <%= volume.input :filesystem, :hint => "The filesystem that will be created on the new volume (mkfs must know about this, e.g. ext3)", :input_html => { :class => 'sm' } %>
          <%= volume.input :description, :hint => "A description of the new volume", :required => false, :input_html => { :class => 'med' } %>
        <% end %>
      <% end %>
      <%= form.buttons %>

    <% end %>

    <%= observe_field("instance_cloud_id",
        :frequency => 0.25,
        :update => "instance_availability_zone_id",
        :url => '/clouds/get_zones_select',
        :with => "cloud_id") %>

    <%= observe_field("instance_cloud_id",
        :frequency => 0.25,
        :update => "instance_instance_type_id",
        :url => '/clouds/get_instance_types_select',
        :with => "cloud_id") %>

    <%= observe_field("instance_cloud_id",
        :frequency => 0.25,
        :update => "instance_key_pair_id",
        :url => '/clouds/get_key_pairs_select',
        :with => "cloud_id") %>

    <%= observe_field("instance_cloud_id",
        :frequency => 0.25,
        :update => "instance_security_group_ids",
        :url => '/clouds/get_security_groups_select',
        :with => "cloud_id") %>

    <%= observe_field("instance_availability_zone_id",
        :frequency => 0.25,
        :update => "instance_volume_ids",
        :url => '/availability_zones/get_volumes_select',
        :with => "availability_zone_id") %>

    </form>
  </body>
</html>
