<html>
  <head>
    <%= formtastic_stylesheet_link_tag %>
    <%= javascript_include_tag "prototype" %>
    <title>InstanceType</title>
  </head>
  <body>
    <p>
      Here, you can create new instance types to be used with Merlin. Merlin will then automatically create new instances with the specifications here,
      as opposed to you having to specify the same data time and time again.
    </p>
    <% semantic_form_for @type do |form| %>
      <% form.inputs do %>
        <%= form.input :cloud, :label => "Cloud", :hint => "The cloud that will be associated with this instance type", :include_blank => false %>
        <%= form.input :name, :label => "Instance Type Name", :hint => "A name for this instance type" %>
        <%= form.input :image_id, :label => "Image ID", :hint => "The cloud ID for the machine image (ami-XXX for EC2,  emi-XXX for Eucalyptus)" %>
        <%= form.input :kernel_id, :label => "Kernel ID", :hint => "The cloud ID for the kernel you wish to use. If left blank, the default will be used", :required => false %>
        <%= form.input :ramdisk_id, :label => "Ramdisk ID", :hint => "The cloud ID for the ramdisk you wish to use. If left blank, the default will be used", :required => false %>
        <li class="select required" id="instance_type_vm_type_input"><label for="instance_type_vm_type_id">VM Type<abbr title="required">*</abbr></label><span id="instance_type_vm_type_list">
          <select id="instance_type[vm_type]"><%= options_from_collection_for_select(Cloud.first.cloud_type.vm_type, "id", "name", 1) %></select></span>

        <%= form.input :os, :label => "OS Type", :hint => "A description of the OS for this image type (e.g. 'Ubuntu Lucid')", :required => false %>
        <%= form.input :description, :label => "Description", :hint => "A description of this instance type (e.g. 'Standard Webhead')", :required => false %>
      <% end %>
      <% form.buttons do %>
        <%= form.commit_button "Save" %>
      <% end %>
    <% end %>
    <%= observe_field("instance_type_cloud_id", :frequency => 0.25, :update => "instance_type_vm_type_list", :url => '/clouds/get_vm_types_select', :with => "'cloud_id='+value") %>
    </table>
  </body>
</html>
  
