<html>
  <head>
    <title>DNS Providers</title>
  </head>
  <body>
    <p>
      Here, you can manage DNS providers, which can be used with clouds to automatically manage DNS across the lifecycle of an instance.
    </p>
    <a href="/dnsproviders/new">Create a new DNS provider</a>
    <table>
      <tr>
        <th>Provider Type</th>
        <th>Name</th>
        <th>Server</th>
        <th>Zone</th>
        <th>Status</th>
      </tr>
      <% DnsProvider.all.each do |row| %>
      <tr>
        <td><%= row.provider_type %></td>
        <td><%= row.name %></td>
        <td><%= row.api_url %></td>
        <td><%= row.update_zone %></td>
        <td><%= row.status_message %></td>
        <td><a href="/dnsproviders/edit/<%= row.id %>">Edit</a> | <a href="/dnsproviders/delete/<%= row.id %>">Delete</a> </td>
      </tr>
      <% end %>
    </table>
  </body>
</html>
