<html>
  <head>
    <title>Merlin: Main Page</title>
    <link type="text/css" rel="stylesheet" href="http://yui.yahooapis.com/2.8.1/build/datatable/assets/skins/sam/datatable.css">
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.1/build/fonts/fonts-min.css" />
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.1/build/tabview/assets/skins/sam/tabview.css" />
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.1/build/menu/assets/skins/sam/menu.css" />
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.1/build/button/assets/skins/sam/button.css" />
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.1/build/container/assets/skins/sam/container.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/merlin.css"/>

    <script src="http://yui.yahooapis.com/2.8.1/build/yahoo-dom-event/yahoo-dom-event.js"></script>
    <script src="http://yui.yahooapis.com/2.8.1/build/element/element-min.js"></script>
    <script src="http://yui.yahooapis.com/2.8.1/build/datasource/datasource-min.js"></script>
    <script src="http://yui.yahooapis.com/2.8.1/build/container/container-min.js"></script>
    <script src="http://yui.yahooapis.com/2.8.1/build/menu/menu-min.js"></script>
    <script type="text/javascript" src="http://yui.yahooapis.com/2.8.1/build/tabview/tabview-min.js"></script>
    <script src="http://yui.yahooapis.com/2.8.1/build/json/json-min.js"></script>
    <script type="text/javascript" src="http://yui.yahooapis.com/2.8.1/build/button/button-min.js"></script>
    <script type="text/javascript" src="http://yui.yahooapis.com/2.8.1/build/dragdrop/dragdrop-min.js"></script>

    <!-- OPTIONAL: Connection Manager (enables XHR for DataSource) -->
    <script src="http://yui.yahooapis.com/2.8.1/build/connection/connection-min.js"></script>

    <!-- OPTIONAL: Get Utility (enables dynamic script nodes for DataSource) -->
    <script src="http://yui.yahooapis.com/2.8.1/build/get/get-min.js"></script>

    <!-- OPTIONAL: Drag Drop (enables resizeable or reorderable columns) -->
    <script src="http://yui.yahooapis.com/2.8.1/build/dragdrop/dragdrop-min.js"></script>

    <!-- OPTIONAL: Calendar (enables calendar editors) -->
    <script src="http://yui.yahooapis.com/2.8.1/build/calendar/calendar-min.js"></script>
    <script src="http://yui.yahooapis.com/2.8.1/build/datatable/datatable-min.js"></script>

<script type="text/javascript">
document.documentElement.className = "yui-pe";
</script>

    <script>
      YAHOO.util.Event.addListener(window, "load", function() {
        var instanceColumns = [
          { key: "hostname", label: "Hostname", sortable: true },
          { key: "id", label: "Instance ID", sortable: true },
          { key: "type", label: "Instance Type", sortable: true },
          { key: "active", label: "Active", sortable: true }
        ];
        this.instanceDS = new YAHOO.util.XHRDataSource("<%= APP_CONFIG['xhr_host'] %>/api/instance/xml");
        this.instanceDS.responseType = YAHOO.util.XHRDataSource.TYPE_XML;
        this.instanceDS.responseSchema = {
          resultNode: "instance",
          fields: ["id", "type", "active", "hostname"]
        };
          this.tableDeferred = new YAHOO.widget.DataTable("instanceTable", instanceColumns, this.instanceDS);

      var handleLaunch = function() { 
      this.submit();
      }

      var handleCancel = function() {
      this.cancel();
      }

      var dialog = new YAHOO.widget.Dialog("dialog1",
      { width: "30em",
        fixedcenter : true,
        visible : false,
      constraintoviewport: true,
      buttons: [ { text:"Launch", handler:handleLaunch, isDefault: true },
      { text:"Cancel", handler:handleCancel }]
      });


      var instanceContextMenu = new YAHOO.widget.ContextMenu("instanceContextMenu",
      { trigger:this.tableDeferred.getTbodyEl()});
      var onInstanceContextMenuClick = function(p_sType, p_aArgs, p_myDataTable) {
      confirm("YEEEHAW A CLICK");
      };

      instanceContextMenu.addItem("Terminate instance");
      instanceContextMenu.addItem("Stop instance");
      instanceContextMenu.addItem("Start instance");

      instanceContextMenu.render("instanceTable");
      instanceContextMenu.clickEvent.subscribe(onInstanceContextMenuClick, this.tableDeferred);

      var tabView = new YAHOO.widget.TabView('merlin');
      YAHOO.util.Dom.removeClass("dialog1", "yui-pe-content");

      dialog.render();
      YAHOO.util.Event.addListener('addInstance', "click", dialog.show, dialog, true);
      });

   </script>
  </head>
  <body class="yui-skin-sam">
    <h1>Merlin - Instance Overview</h1>
    <div id="dialog1" class="yui-pe-content">
      <div class="hd">Launch a New Instance</div>
      <div class="bd"> 
      <% form_for :instance do |form| %>
      <p>Hostname: <%= form.text_field :hostname, :size => 30 %></p>
      <p>Type: <select id="instance_type" name="instance_type">
	  <%= options_for_select(get_instance_types) %>
	</select>
      </p>
      <p>Security Group: <%= form.select :sec_group, get_security_groups %></p>
      <p>Volume Configuration: <select id="volume_type" name="volume_type">
	  <%= options_for_select(get_volume_options) %>
	</select>
      </p>
      <% end %>
      </div>
    </div>

    <div id="merlin" class="yui-navset">
      <ul class="yui-nav">
        <li class="selected"><a href="#tab1"><em>Instances</em></a></li>
        <li><a href="#tab2"><em>Volumes</em></a></li>
        <li><a href="#tab3"><em>Snapshots</em></a></li>
      </ul>
      <div class="yui-content">
        <div id="tab1">
          <div class="menutab">
            <img src="/images/launch.png" alt="Launch new instance" id="addInstance">
            <img src="/images/refresh.png" alt="Refresh view"></a>
          </div>
          <div id="instanceTable" class="instanceTable"></div>
        </div>
        <div id="tab2">
          <p>Volumes</p>
        </div>
        <div id="tab3">
          <p>Snapshots</p>
        </div>
      </div>
    </div>
  </body>
</html>
